<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ltxx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>com.cn.syh.servlet.newzc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/zc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>com.cn.syh.servlet.newdl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/dl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>three</servlet-name>
    <servlet-class>com.cn.syh.servlet.newupzt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>three</servlet-name>
    <url-pattern>/zt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>four</servlet-name>
    <servlet-class>com.cn.syh.servlet.newdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>four</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>five</servlet-name>
    <servlet-class>com.cn.syh.servlet.newexitdl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>five</servlet-name>
    <url-pattern>/exitdl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>six</servlet-name>
    <servlet-class>com.cn.syh.servlet.newfs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>six</servlet-name>
    <url-pattern>/fs</url-pattern>
  </servlet-mapping>
</web-app>